h1, h2, h3, h4, h5, h6, p, dl, dd, dt, ul, ol, li, body, u {
    margin: 0;
    padding: 0;
}

a {
    color: #333333;
    text-decoration: none;
}

.pro-survey-text {
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    word-break: break-all;
    padding:0 15px 20px !important;
    
    overflow: hidden;
}

.pro-survey-text h2 {
    position: relative;
    font-size: 16px;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: #333333;
    height: 16px;
    line-height: 14px;
    padding: 9px 0 9px 9px;
    margin-bottom: 10px;
    border-bottom: 1px solid #EBEBEB;
}

.pro-survey-text h2:after {
    content: " ";
    position: absolute;
    top: 9px;
    left: 0;
    width: 3px;
    height: 14px;
    background: #5670BF;
}

img {
    display: block;
    vertical-align: top;
    max-width:100%;
    height:auto !important;
}

.pro-survey-text p {
    color: #666;
    padding-bottom: 14px;
}

.pro-survey-text img {
    width: 100%;
}
